<!DOCTYPE html>
<html lang="en-us">

{% load static %}

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
            integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
            crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'teamlunch/style.css' %}">
</head>

<!-- TODO: add block title -->
<!-- TODO: put everything above in "base.html" and import it -->

<body>
{% include "navbar.html" %}

    <div class="container">
    {% for team in final_groups %}
        <div>
            <h2>Team #{{ forloop.counter }}</h2>
            {% for person in team %}
                <div>{{ person }}</div>
            {% endfor %}
        </div>
    {% endfor %}
    </div>

    <br>
    <br>

</body>