<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">

        <div class="navbar-header">
            <div class="navbar-name">Research Team Tools</div>
        </div>

        <!-- <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="index.html">Home</a></li>
                <li><a href="crystal-collector/">Games</a></li>
                <li><a href="teamlunch/">Tools</a></li>
            </ul>
        </div> -->

    </div>
</nav>
